################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XamarinHmsPushDemo/v16
/bin/Debug
/obj
/XamarinHmsPushDemo.csproj.user
